:root {
    --divwidth: 20px;
    --divheight: 20px;
}

#game {
    margin: 0 auto;
}


#board {
    border: 1px solid red;
    width: calc(7*var(--divwidth));
    height: calc(6*var(--divheight));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    height: var(--divheight);
    width: var(--divwidth);
}

.red {
    background-color: red;
    border-radius: 10px;
}

.blue {
    background-color: blue;
    border-radius: 10px;
}