:root {
    --divwidth: 20px;
    --divheight: 20px;
}

#game {
    border: 1px solid black;
    margin: 0 auto;
}

#turn {
    border: 1px solid blue;
}

#outcome {
    border: 1px solid green;
}
#board {
    border: 1px solid red;
    width: calc(7*var(--divwidth));
    height: calc(6*var(--divheight));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    height: var(--divheight);
    width: var(--divwidth);
}